nav {
  background-color: $secondary-color;
  display: flex;
  flex: 1;
  justify-content: space-between;
  justify-items: center;
  padding: 1rem;

  .nav-items {
    display: flex;
    max-width: 45%;
    justify-content: space-around;

    & li {
      margin: 0 1rem;
      padding: 0.5rem;
    }
  }
}
