<nav class="flex justify-between bg-slate-300 p-5 items-center">
  <a href="#">
    <img src="" alt="logo" />
  </a>

  <ul class="flex justify-around xs:max-sm:hidden items-center">
    <li class="mx-5 uppercase font-bold"><a href="#">about</a></li>
    <li class="mx-5 uppercase font-bold"><a href="#">portfolio</a></li>
    <li class="mx-5 uppercase font-bold"><a href="#">services</a></li>
    <li class="mx-5 uppercase font-bold"><a href="#">blog</a></li>
    <li class="mx-5 uppercase font-bold"><a href="#">contact</a></li>
    <li class="mx-5">
      <button appBtn class="my-0">hire me!</button>
    </li>
  </ul>
</nav>
