<div
  class="flex justify-around p-5 bg-slate-100 min-h-screen items-center xs:max-sm:flex-col-reverse"
>
  <div class="flex flex-col xs:text-center">
    <div
      class="flex items-baseline space-x-2 xs:max-sm:flex-col xs:max-sm:items-center"
    >
      <p class="font-black text-2xl text-slate-700">Hola!</p>
      <br />
      <span>me llamo</span>
      <p class="text-3xl font-bold text-slate-700 capitalize">paulo castillo</p>
    </div>
    <p class="text-lg font-normal text-slate-500">
      soy desarrollador fullstack y diseñador gráfico
    </p>
    <button appBtn class="my-10">download my resumé</button>
  </div>
  <img src="" alt="my_image" />
</div>
